html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INDEX Page
        //- style. 
        //-     body{
        //-         background-color: rgb(56, 64, 66)
        //-     }
        //-     h1{
        //-         color: rgb(229, 255, 241)
        //-     } 
        link(rel="stylesheet", href="style.css")

    body 
        h1= recipes.name
        img(src="oml.jpg", alt="", srcset="")(style='width:250px')
        h2 Ingredients
        div 
            ul 
            each i in recipes.ingredients
                li(style="color:green")=i 

        h2 Steps 
        div
            ul 
            each s in recipes.steps 
                li=s
            
        