<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: beige;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1{
            color: rgb(156, 77, 20);
        }
    </style>
</head>
<body>
    <h1>Index Page</h1>
    <h2>Hello <%= userName %></h2>
</body>
</html>